<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OracleClient" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Oracle.DataAccess.Client"/>
    <add name="DevartOracle" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Devart.Data.Oracle"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
